body {
    margin: 0px;
}

.container {
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.error-info {
    color: red;
}

.hint-info {
    color: darkturquoise;
}

.translate-button {
    color: white;
    margin-right: 20px;
}

.form-item {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    margin: 3px;
}

.form-input {
    width: 100%;
}

.form-row-item {
    flex: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.form-button {
    width: 100%;
}

.fetching-progress {
    margin: 1em;
    width: 100%;
}

.logout-hint {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.message-alert {
    color: red;
}

.message-normal {
    color: darkturquoise;
}

.device-list {
    margin-top: 20px;
}

.device-list-item .device-name {
    color: black;
    font-weight: bold;
    padding-right: 10px;
}

.device-list-item .device-id {
    color: gray;
    padding-right: 10px;
}

.device-list-item .device-stat {
    color: black;
    padding-right: 10px;
}

.device-info .device-id {
    color: gray;
}

.device-charts {
    margin: 5px;
}

.device-charts-item {
    margin: 5px;
}

.datetime-input {
    display: flex;
    flex-direction: column;
}

.datetime-input > p {
    margin: 0;
    font-size: small;
    color: gray;
}

.card-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 5px;
}

.card-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.page-buttons {
    width: 100%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-buttons-item {
    flex: 100%;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

.page-button {
    width: 100%;
}